// Place all the styles related to the ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container a:hover {
  color: #041a72;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0);
}
.container input[type="submit"] {
  height: 30px;
  font-size: 13px;
  background-color: #041a72;
  border: none;
  color: #fff;
  border-radius: 5px;
}